extends layout

block content
  h1 Εγγραφή χρήστη

  if user
    p. Καλώς ορίσατε #{user.name}
    p.
      Το email σας #{user.email} επικυρώθηκε.
      Μπορείτε να συνδεθείτε χρησιμοποιώντας το email και τον κωδικό πρόσβασής σας.
  else
    p.
      Κάτι δεν πήγε καλά με το αίτημά σας.
      Το αίτημα αυτό δεν είναι πλέον έγκυρο.
    p Θα πρέπει να εγγραφείτε ξανά.

  p= 'Επιτρέψτε μου να πάω στην  '
  a(href='#{site}') ιστοσελίδα