extends layout

block content
  h1 Επαναφορά κωδικού πρόσβασης

  if user
    p. Καλώς ορίσατε #{user.name}
    p.
      Ένας νέος κωδικός πρόσβασης έχει αποσταλεί στο #{user.email}. Ελέγξτε το email σας.
      Από τώρα και στο εξής, μπορείτε να συνδεθείτε μόνο με αυτό το νέο κωδικό πρόσβασης.
    p Μετά την πρώτη σύνδεσή σας, μπορείτε να αλλάξετε τον κωδικό πρόσβασής σας.
  else
    p.
      Κάτι δεν πήγε καλά με το αίτημά σας.
      Το αίτημα αυτό δεν είναι πλέον έγκυρο.
    p θα πρέπει να ζητήσετε και πάλι ένα νέο κωδικό πρόσβασης.

  p= 'Επιτρέψτε μου να πάω στην '
  a(href='#{site}') ιστοσελίδα