/*
 * garantir que o thumbnail do utilizador é redimensionado para o tamanho do botão de login
 */
.x-btn-icon-el {
	background-size: cover;
}
/*
 * para alargar as linhas com o sumário da confrontação, na Inf. Prévia
 */
td.grid-cell-wrap-text div {
	white-space: normal;
}
.upload-icon {
	background: url('resources/images/icons/fam/image_add.png') no-repeat 0 0 !important;
}
.combo-superior-true {
	font-weight: bold;
}
.combo-superior-false {
	padding-left: 4pt;
}
/*
 * 265C00 verde
 * AA1E00 vermelho
 */
.circle-gray {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	color: #fff;
	line-height: 150px;
	text-align: center;
	background: #b7b7b7;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
}
.circle {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	color: #fff;
	line-height: 150px;
	text-align: center;
	background: #4679BD;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
	cursor: pointer;
}
.circle:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.circle-go {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	color: #fff;
	line-height: 150px;
	text-align: center;
	font-weight: bold;
	background: #265C00;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
	cursor: pointer;
}
.circle-go:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.rotate {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
}
.rotate:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.msg .x-box-mc {
	font-size: 14px;
}
#msg-div {
	position: absolute;
	left: 50%;
	top: 10px;
	width: 400px;
	margin-left: -200px;
	z-index: 20000;
}
#msg-div .msg {
	border-radius: 8px;
	-moz-border-radius: 8px;
	background: #F6F6F6;
	border: 2px solid #ccc;
	margin-top: 2px;
	padding: 10px 15px;
	color: #555;
}
#msg-div .msg h3 {
	margin: 0 0 8px;
	font-weight: bold;
	font-size: 15px;
}
#msg-div .msg p {
	margin: 0;
}

.images-view .x-panel-body {
  background:white;
  font:11px Arial,Helvetica,sans-serif;
}
.images-view .thumb {
  background:#dddddd;
  padding:3px;
  padding-bottom:0;
}
.x-quirks .images-view .thumb {
  padding-bottom:3px;
}
.images-view .thumb img {
  height:60px;
  width:80px;
}
.images-view .thumb-wrap {
  float:left;
  margin:4px;
  margin-right:0;
  padding:5px;
}
.images-view .thumb-wrap span {
  display:block;
  overflow:hidden;
  text-align:center;
  width:86px; /* for ie to ensure that the text is centered */
}
.images-view .x-item-over {
  border:1px solid #dddddd;
  background:#efefef url(over.gif) repeat-x left top;
  padding:4px;
}
.images-view .x-item-selected {
  background:#eff5fb url(selected.gif) no-repeat right bottom;
  border:1px solid #99bbe8;
  padding:4px;
}
.images-view .x-item-selected .thumb {
  background:transparent;
}
.images-view .loading-indicator {
  font-size:11px;
  background-image:url('../../resources/themes/images/default/grid/loading.gif');
  background-repeat:no-repeat;
  background-position:left;
  padding-left:20px;
  margin:10px;
}
.x-view-selector {
  position:absolute;
  left:0;
  top:0;
  width:0;
  border:1px dotted;
  opacity:.5;
  -moz-opacity:.5;
  filter:alpha(opacity=50);
  zoom:1;
  background-color:#c3daf9;
  border-color:#3399bb;
}
.ext-strict .ext-ie .x-tree .x-panel-bwrap {
  position:relative;
  overflow:hidden;
}