@include extjs-panel-ui(
    $ui-label: 'comment-panel',
    $ui-header-background-color: #b7b7b7,
    $ui-body-background-color: #f1f1f1,
    $ui-body-font-size: 12px
    /*

Facebook comments: "Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif"

Na documentação, em http://localhost/extjs/docs/index.html#!/api/Ext.panel.Panel
    
[$ui-border-color], 
[$ui-border-radius], 
[$ui-border-width], 
[$ui-padding], 
[$ui-header-color], 
[$ui-header-font-family], 
[$ui-header-font-size], 
[$ui-header-font-weight], 
[$ui-header-line-height], 
[$ui-header-border-color], 
[$ui-header-border-width], 
[$ui-header-border-style], 
[$ui-header-background-color], 
[$ui-header-background-gradient], 
[$ui-header-inner-border-color], 
[$ui-header-inner-border-width], 
[$ui-header-text-padding], 
[$ui-header-text-transform], 
[$ui-header-padding], 
[$ui-header-icon-width], 
[$ui-header-icon-height], 
[$ui-header-icon-spacing], 
[$ui-header-icon-background-position], 
[$ui-header-glyph-color], 
[$ui-header-glyph-opacity], 
[$ui-tool-spacing], 
[$ui-tool-background-image], 
[$ui-body-color], 
[$ui-body-border-color], 
[$ui-body-border-width], 
[$ui-body-border-style], 
[$ui-body-background-color], 
[$ui-body-font-size], 
[$ui-body-font-weight], 
[$ui-background-stretch-top], 
[$ui-background-stretch-bottom], 
[$ui-background-stretch-right], 
[$ui-background-stretch-left], 
[$ui-include-border-management-rules], 
[$ui-wrap-border-color], 
[$ui-wrap-border-width]  
    */
);