<h3><%= saudacao %> <%= name %>,</h3>

<p>Foi feito um pedido de uma nova senha associada a este email.</p>

<p>Se foi você que fez o pedido, clique na ligação seguinte para lhe ser enviada uma nova senha, invalidando a anterior.<br/>

<a href="http://development.localhost.lan/reset/<%= token %>">
http://development.localhost.lan/reset/<%= token %></a>
</p>

<p>
Se não pediu uma nova senha, pode ignorar esta mensagem.
</p>

Votos de um bom dia!