/*
 * Funcionou!
 * Estou a usar o theme neptune
 * Ver as variáveis disponíveis em: DemoExtJs/ext/packages/ext-theme-neptune/sass/var/layout/container
 */

$base-color: #0e646f;

/*
 * Funcionou!
 */

$border-layout-ct-background-color: #fff;

/*
 * Teste!
 */

/*
http://docs.sencha.com/extjs/4.2.2/#!/guide/theming
*/