<h3><%= saudacao %> <%= name %>,</h3>

<p>Obrigado por se registar.</p>

<p><a href="http://development.localhost.lan/registo/<%= token %>">Confirme que recebeu esta mensagem</a>. Só depois poderá usar o email 
e a senha que escolheu para se autenticar.</p>

<p>Votos de um bom dia!</p>