<h3><%= saudacao %> <%= name %>,</h3>

<p>Obrigado por criar um novo plano em <a href="<%= site %>"><%= site %></a>.</p>

<p>A boa receção desta mensagem indica que o seu email está associado ao plano em discussão.</p>

<p>Boa discussão!</p>